[Unit]
Description=Service for virtual machines hosted on VMware
Documentation=https://github.com/vmware/open-vm-tools
ConditionVirtualization=vmware
DefaultDependencies=no
#Requires=vgauthd.service
After=vgauthd.service
After=systemd-remount-fs.service systemd-tmpfiles-setup.service systemd-modules-load.service

[Service]
ExecStart=/usr/bin/vmtoolsd
Restart=on-failure
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
Also=vgauthd.service
